.tick {
    display: none;
}
.success .tick { 
    display: inline;
}
.flex {
    display: flex;
    flex-wrap: nowrap; /* Prevent the items from wrapping to a new line */
    gap: 8px; /* Adjust space between buttons */
}

.action_icon {
     cursor: pointer;
     color: slategray;
}

body {
    font-family: monospace;

}
