<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Ace Stream Broadcast Search - Find Content IDs</title>  
    <meta name="description" content="Easily search and discover Ace Stream broadcasts with our user-friendly platform. Find and access content IDs for your favorite live streams and enjoy seamless streaming experiences. Start exploring now!">  
    
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>  
<body class="flex items-center justify-center h-screen bg-white">
    <div style="overflow: auto;"> 
    <a href="https://github.com/iercan/searchacestream" target="_blank" class="absolute top-4 right-4 text-gray-600 hover:text-black">
    <i class="fa-lg fa-brands fa-github"></i>
    </a></div>
    <div style="overflow: auto; height: 100%; width: auto;">
        <form id="searchForm" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">  
            <div class="mb-4" style=" width: 70%;  float: left;padding: 10px;">  
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="query" type="text" placeholder="Search ace streams...">
            </div>  
            <div class="flex items-center justify-between" style="padding:10px;">  
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2 rounded focus:outline-none focus:shadow-outline" type="submit">  
                    Search  
                </button>  
            </div>  
        </form>  
        <div id="results" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" style="overflow: auto;">  
            <table class="min-w-full">  
                <thead>  
                    <tr>  
                        <th class="px-3 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">Name</th>  
                        <th class="px-3 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">Status</th>  
                        <th class="px-3 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">Languages</th>
                        <th class="px-3 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">Content ID</th>
                    </tr>  
                </thead>  
                <tbody id="resultsBody">  
                    <!-- Results will be inserted here -->  
                </tbody>  
            </table>
            <div class="bg-white">
                <span class="text-xs">
       * This website is designed solely to search for active Ace Stream broadcasts and is not involved in streaming them.
                </span>
            </div>
        </div>  
    </div>  
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>  
</body>  
</html>  

