{% extends "base.html" %}

{% block title %}Ace Stream Broadcast Search - Submit Content IDs{% endblock %}

{% block content %}
<div class="flex place-items-center justify-center">
    <h1 class="text-3xl">Submit Content ID</h1>
</div>
<form id="submitForm" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4 flex items-center" style="padding: 10px;">
        <label for="contentId" class="mr-4 text-gray-700">Content ID:</label>
        <input class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="contentId" type="text" placeholder="Content ID">
    </div>
    <div class="mb-4 flex items-center" style="padding: 10px;">
        <label for="keywords" class="mr-4 text-gray-700">Keywords:</label>
        <input class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="keywords" type="text" placeholder="Keywords">
    </div>
    <div class="flex place-items-center justify-center" style="padding: 10px;">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2 rounded-full focus:outline-none focus:shadow-outline" style="width: 40%;" type="submit">
            Submit
        </button>
    </div>
    <div id="submit_message_div" class="flex place-items-center justify-center" style="padding: 10px; display: none;">
        <span id="submit_message">Saved</span>
    </div>
    <div class="flex place-items-center justify-center" style="padding: 10px;">
        <a href="/" class="underline text-blue-700">Return Home Page</a>
    </div>
</form>
<div id="results" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" style="overflow: auto;">
    <div class="bg-white">
        <span class="text-xs">
            Submit a content ID with relevant keywords for easy discovery. <br>
            You can resubmit an existing content ID with new keywords. <br>
            Manually added content IDs will be named "Submitted manually" and <br>
            will be removed after a certain period.
        </span>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }} <!-- Includes scripts from the parent block -->
<script src="{{ url_for('static', filename='js/submit.js') }}"></script>
{% endblock %}

